<div class="container">
  <div class="left_side_bar">
    <div class="login_user_name">ログイン中のユーザ名</div>
    <div class="my_page">マイページ</div>
  </div>

  <div class="main_container">
  <% @tweets.each do |tweet| %>
    <div class="parsonal-container">
      <div class="user_name">
        <span class="name"><%= tweet.name %>
      </div>
      <p><%= tweet.text %></p>
      <div class="photo_container">
        <div class="photo_material" style="background-image: url(<%= tweet.image %>);">
        </div>
      </div>
      <div class="created_at"><%= tweet.created_at %></div>
    </div>
  <% end %>
  </div>
</div>