<div class="container">
  <div class="left_side_bar">
    <div class="login_user_name">ログイン中のユーザ名</div>
    <div class="my_page">マイページ</div>
  </div>
  <div class="main_container">
  <% @tweets.each do |tweet| %>
    <%= render partial: "tweet", locals: {tweet: tweet} %>
  <% end %>
  </div>
</div>