.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}
/* _side_bar.html.erb */
.side-bar-header{
  height: 70px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  background-color: #003a0d;
  align-items: center;
}

.header-nickname a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-tweet a{
  font-size: 10px;
  color: rgb(120, 236, 143);
  border: 1px solid rgb(193, 246, 204);
  padding: 14px;
  text-decoration: none;
}


.user_nav{
  background-color: #2a9731;
  height: calc(100vh - 70px);
  padding: 0 20px;
  text-align: center;
}

.user_info li{
  padding-top: 15px;
}
.user_info a{
  text-decoration: none;
  font-size: 20px;
  color: #FAFAFA;
}


.main-window{
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

/* _main_window.html.erb */
.main-window-header{
  height: 70px;
  padding: 0 40px;
  background-color: #003a0d;
}

.messages{
  background-color: #FAFAFA;
  height: calc(100vh - 70px - 90px);
  padding: 46px 40px 0;
}

.form{
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

.search-form{
  display: flex;
}

.search-input{
  height: 45px;
  width: calc(100vw - 600px);
  padding-left: 10px;
  margin-top: 12px;
  font-size: 20px;
}

.search-btn{
  height: 45px;
  width: 7%;
  margin: 12px 0 0 5px;
  font-size: 20px;
}







.container {
  display: block;
}

.main_container {
  background-color: #ffff;
  width: calc(100vw - 250px);
}

.left_side_bar {
  background-color: blue;
  width: 250px;
  height: 100px;
}

.parsonal-container {
  background-color: aqua;
  border-top: 3px solid #ccc;
}

.user_name {
  background-color: beige;
  font-size: 20px ;
  padding: 5px 0px 5px 10px;
}

p {
  padding: 5px 0px 5px 5px;
}

.photo-container {
  background-color: aliceblue;
}

.created_at {
  background-color: blanchedalmond;
  color: #D3D3D3;
}